@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<section class="slider-area slider-active">
    @foreach (var slider in Model.Sliders)
    {
        <div class="single-slider">
            <div class="slider-image">
                <img src="~/assets/images/@slider.ImageUrl" alt="slider">
            </div>
            <div class="slider-content-wrapper">
                <div class="container-fluid custom-container">
                    <div class="slider-content">
                        <h4 data-animation="fadeInDown" data-delay="0.5s" class="sub-title">@Html.Raw(Model.SlidersContent.SubTitle)</h4>
                        <h1 data-animation="fadeInLeft" data-delay="0.5s" class="main-title"><span>@Html.Raw(Model.SlidersContent.Title)</span></h1>
                        <p data-animation="fadeInRightBig" data-delay="0.5s">@Html.Raw(Model.SlidersContent.Description)</p>
                        <a data-animation="zoomIn" data-delay="0.5s" class="main-btn" href="single-product.html">Shop Now</a>
                    </div>
                </div> <!-- container -->
            </div>
        </div> <!-- single slider -->
    }
</section>


