@model Category
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Model.Name </h2>
<img src="~/assets/images/@Model.ImageUrl" />
<div asp-validation-summary="All" style="color:red;"></div>
<form method="post">

    <button class="btn btn-danger" type="submit">Delete</button>
</form>
<a class="btn btn-success" asp-action="Index">Cancel</a>