@model BackEndProject.ViewModels.AdminVM.Category.CategoryUpdateVM
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}




<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Category</h4>
            <p class="card-description">  </p>

            <form class="forms-sample" method="post" enctype="multipart/form-data">


                <div class="form-group">
                    <label for="Name">Category Name</label>
                    <input type="text" class="form-control" asp-for="Name" placeholder="Category Name" required>
                </div>
                
                <div class="form-group">
                    <label asp-for="Image"></label>
                    <input asp-for="Image" class="form-control" placeholder="photo" multiple>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                 

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a href="@Url.Action("Index", "Category")" class="btn btn-dark">Cancel</a>
            </form>

        </div>
    </div>
</div>

